/* body
   ===========================================================================*/
body {
    width: 430px;
}

/* font
   ===========================================================================*/
.font-normal {
    font-size: 16px;
}

/* border
   ===========================================================================*/
.border-bottom {
    border-bottom: 1px solid darkgray;
    border-collapse: collapse;
}

/* margin
   ===========================================================================*/
.margin-top-large {
    margin-top: 20px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

/* margin
   ===========================================================================*/
.padding-bottom-small {
    padding-bottom: 5px;
}

/* flex
   ===========================================================================*/
.space-between {
    display: flex;
    justify-content: space-between;
}

/* button
   ===========================================================================*/
button {
    border: 0;
    border-radius: 6px;
    background-color: #4f4fe1;
    color: white;
}

/* a
   ===========================================================================*/
a {
    text-decoration: none;
}